.skills-text{
  margin-top: 30px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 80px;
  background-color: #dce6fd;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow:
    -10px -10px 20px rgba(255, 255, 255, 0.5),
    10px 10px 20px rgba(0, 0, 0, 0.1);
  transition: 0.2s ease-in-out;
  &:hover{
    transform: scale(1.01);
  }
  h1{
    color: #464646;
  }
}

.tech-stack{
  margin-top: 20px;
  margin-left: 10px;
  width: calc(100% - 20px);
  height: 400px;
  background-color: #dce6fd;
  border-radius: 20px;
  display: flex;
  box-shadow:
    -10px -10px 20px rgba(255, 255, 255, 0.5),
    10px 10px 20px rgba(0, 0, 0, 0.1);
  .tech{
    margin: 30px auto auto;
    width: 280px;
    min-width: 280px;
    border-radius: 20px;
    height: 320px;
    background-color: #dce6fd;
    display: flex;
    flex-direction: column;
    box-shadow:
      -10px -10px 20px rgba(255, 255, 255, 0.5),
      10px 10px 20px rgba(0, 0, 0, 0.1);
    img{
      margin-top: 40px;
      width: 150px;
      height: 150px;
      margin-left: auto;
      margin-right: auto;
    }
    h1{
      margin-top: 40px;
      text-align: center;
      color: #fd6363;
    }
  }
  swiper{
    display: flex;
    width: 100%;
  }
}

@media screen and (max-width: 950px){
  .skills-text{
    margin-top: 50px;
    h1{
      font-size: 26px;
    }
  }
  .tech-stack{
    height: 300px;
    .tech{
      height: 220px;
      width: 200px;
      min-width: 200px;
      img{
        width: 100px;
        height: 100px;
      }
      h1{
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 700px){
  .skills-text{
    h1{
      font-size: 24px;
    }
  }
  .tech-stack{
    height: 250px;
    .tech{
      height: 170px;
      width: 160px;
      min-width: 160px;
      img{
        margin-top: 20px;
        width: 70px;
        height: 70px;
      }
      h1{
        margin-top: 20px;
        font-size: 24px;
      }
    }
  }
}

@media screen and (max-width: 650px){
  .skills-text{
    margin-top: 70px;
    h1{
      font-size: 24px;
    }
  }
  .tech-stack{
    height: 250px;
    .tech{
      height: 170px;
      width: 160px;
      min-width: 160px;
      img{
        margin-top: 20px;
        width: 70px;
        height: 70px;
      }
      h1{
        margin-top: 20px;
        font-size: 24px;
      }
    }
  }
}
