<!--<h1 class="top-text titile-font">We are on top!</h1>-->

<div class="about">
  <div class="main-card">
    <app-mycard></app-mycard>
  </div>
  <div class="abouts">
    <div class="about-right1">
      <app-about-card1></app-about-card1>
      <app-about-card2></app-about-card2>
    </div>
    <div class="about-right2">
      <app-about-card3></app-about-card3>
      <app-about-card4></app-about-card4>
      <app-about-card5></app-about-card5>
    </div>
  </div>

</div>

<!--<h1 class="titile-font">We are going deeper...</h1>-->
