.top-text{
  margin-top: 130px;

}

.about{
  margin-top: 110px;
  background-color: #e0e5ec;
  width: 100%;
  display: flex;
  .main-card{
    width: 40%;
    height: 600px;
  }
  .abouts{
    width: 60%;
    display: flex;
    .about-right1{
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 600px;
    }
    .about-right2{
      display: flex;
      flex-direction: column;
      width: 60%;
      height: 600px;
    }
  }
}

h1{
  color: #0f2c9d;
  margin-top: 70px;
  font-size: 42px;
  text-align: center
}

@media screen and (max-width: 950px) {
  .about{
    flex-direction: column;
    .main-card{
      width: 100%;
    }
    .abouts{
      width: 100%;
      .about-right1{
        width: 100%;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .about{
    flex-direction: column;
    .main-card{
      width: 100%;
    }
    .abouts{
      width: 100%;
      flex-direction: column;
      .about-right1 {
        width: 100%;
      }
      .about-right2{
        width: 100%;
      }
    }
  }
}
